@import "./components/responsive";
@import "./components/footer";
@import "./base/variable";
@import "./base/maps";
@import "./base/extends";
@import "./base/mixins";

// Estilos globales
* {
    font-family: 'Roboto Condensed', sans-serif;
}

  // Titulos globales
h1 {
    text-align: center;
    text-justify: auto;
    font-size: map-get($titulos,tamanio);
    color: map-get($titulos,color);
    text-shadow: map-get($titulos,sombra);
}

  // Estilos de las listas navegables globales
ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
    display: flex;
}

li a {
    text-decoration: none;
    text-align: end;
    margin: 20px;
    color: rgb(10, 10, 10);
}

// Estilo de main de index
.index-main {
padding: 0;
font-weight: normal;
display: flex;
text-align: justify;
.img-main {
    float: center;
    margin-right: 20px;
    width: 35rem;
    height: 25rem;
}
.p1 {
    text-align: justify;

}
}

// Estilos de Productos
section {
    display: ruby-base-container;
}

// Imagenes de Productos
img {
    width: 15rem;
    height: 20rem;
}

// Precios de producto
.p-producto {
    @extend %cajadeprecios;
}

// Main de Productos
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

// Botones del main productos
button {
    @include cardbot;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
    color: rgb(246, 242, 242);
    background-color: rgb(0, 0, 0);
}
}
}

// Mapa de Contactanos
iframe {
    width: 95rem;
    height: 10rem;
}

// Main de las Recetas
.recetas {
    font-size: 20px;
    font-weight: 200;
    gap: 6rem;
    display: flex;
    text-align: justify;
    justify-content: space-around;

    .recetario {
    background-color: $color-backround;
    padding: 2%;
    border-radius: 20%;
    }
}

// Calendario de EVENTOS
.container {
    text-align: justify;
    border: 1px solid #ddd;
    width: 500px;
    padding: 1em;
    cursor: pointer;
    box-shadow: -.5px 3px 5px rgba(0, 0, 0, 2);

    ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px;
    }
    .first-day {
    grid-column-start: 5;
    }
    .day-name {
    background-color: $color-backround;
    font-weight: bold;
    }

    .dayx {
    color: rgb(246, 242, 242);
    background-color: $color-resaltador;
    padding: 2 2;
        @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0); // Sin movimiento en Y
        }
        40% {
          transform: translateY(-10px); // Subir 10px en Y
        }
        60% {
          transform: translateY(-5px); // Subir 5px en Y
        }
    }
    
      // Aplicar la animación "bounce" al hacer hover en el día
    &:hover {
        animation: bounce 0.5s infinite;
    }
    }
    }

// Carrusel de IMAGENES
.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll hidden;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    object-fit: cover;
    background-color: none;
    width: 200px;
    height: 400px;
}
