// Estilos para tablets
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
      background-color: rgb(242, 124, 39);
      font-size: 16px;
  
      h3, h2 {
        color: rgb(242, 39, 76);
      }
  
      img {
        max-width: 100%;
      }
  
      .index-main {
        font-size: 16px;
        display: flex;
  
        .img-main {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  
  // Estilos para móviles
  @media only screen and (max-width: 500px) {
    body {
      background-color: rgb(242, 39, 76);
      font-size: 14px;
  
      h3, h2 {
        color: rgb(199, 154, 5);
      }
  
      img {
        width: 100%;
      }
  
      .index-main {
        font-size: 14px;
        display: flex;
  
        .img-main {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  
  // Estilos para desktop
  @media only screen and (min-width: 961px) {
    body {
      background-color: rgb(242, 188, 39);
  
      h3, h2 {
        color: rgb(242, 39, 76);
      }
    }
  }
